$def with (kwargs)
<!DOCTYPE HTML>
<html>
<head>
	<title>Sabra-Wang's Clearance Interval Database</title>
	<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no' />
	<meta charset='UTF-8' />
	<script type='text/javascript' src='http://maps.googleapis.com/maps/api/js?key=AIzaSyAWXZXhG-0Hltuxf0CSwjZjf164WwnDFCE&sensor=false&libraries=geometry'></script>
	<script type='text/javascript'>
		var map;
		var measure = {mvcMarkers:new google.maps.MVCArray(), mvcLine:new google.maps.MVCArray(), line:null, lineLength:'0'};
		var initOptions;
		var latlng = new google.maps.LatLng($kwargs['map_lat'], $kwargs['map_lng']);
		
		function initialize()
		{
			initOptions = {
				center: latlng,
				zoom: $kwargs['map_zoom'],
				mapTypeId: google.maps.MapTypeId.HYBRID
			};
			map = new google.maps.Map(document.getElementById('map_canvas'), initOptions);
			google.maps.event.addListener(map, 'click', addLatLng);
			google.maps.event.addListener(map, 'center_changed', function()
			{
				var current_latlng = map.getCenter();
				var lat = current_latlng.lat().toString();
				var lng = current_latlng.lng().toString();
				document.getElementById('map_lat').value = lat;
				document.getElementById('map_lat_txt').innerHTML = lat;
				document.getElementById('map_lng').value = lng;
				document.getElementById('map_lng_txt').innerHTML = lng;
			});
			google.maps.event.addListener(map, 'zoom_changed', function()
			{
				var zoom = map.getZoom().toString();
				document.getElementById('map_zoom').value = zoom;
				document.getElementById('map_zoom_txt').innerHTML = zoom;
			});
		}
		
		function getLength(path)
		{
			if(path.getLength() > 1)
			{
				length = google.maps.geometry.spherical.computeLength(path) * 3.28;
				measure.lineLength = length.toFixed(0).toString();
				length = measure.lineLength + '\'';
				return length;
			}
			return 'N/A'
		}

		function createPath(latlng_txt)
		{
			var path = new google.maps.MVCArray();
			for(index=0; index<2; index++)
			{
				coordinate = latlng_txt.split('+')[index];
				coordinate = coordinate.split('(')[1];
				coordinate = coordinate.split(')')[0];
				lat = coordinate.split(', ')[0];
				lng = coordinate.split(', ')[1];
				path.push(new google.maps.LatLng(parseFloat(lat), parseFloat(lng)));
			}
			return path;

		}

		function updateMeasurement(event)
		{
			var path = measure.line.getPath();
			var length = getLength(path);
			document.getElementById('measurement').innerHTML = length;
		}

		function addLatLng(event)
		{
			var latlng = event.latLng;
			var index = measure.mvcLine.getLength() - 1;
			if(index > 0)
			{
				measureReset()
			}

			var marker = new google.maps.Marker({
				map: map,
				position: latlng,
				draggable: true,
				raiseOnDrag: false,
				title: "Drag me to change shape",
				icon: new google.maps.MarkerImage("/static/measure-vertex.png", new google.maps.Size(9, 9), new google.maps.Point(0, 0), new google.maps.Point(5, 5))
			});

			measure.mvcMarkers.push(marker);
			measure.mvcLine.push(latlng);
			index = measure.mvcLine.getLength() - 1;

			google.maps.event.addListener(marker, "mouseover", function()
			{
				marker.setIcon(new google.maps.MarkerImage("/static/measure-vertex-hover.png", new google.maps.Size(15, 15), new google.maps.Point(0, 0), new google.maps.Point(8, 8)));
			});
			google.maps.event.addListener(marker, "mouseout", function()
			{
				marker.setIcon(new google.maps.MarkerImage("/static/measure-vertex.png", new google.maps.Size(9, 9), new google.maps.Point(0, 0), new google.maps.Point(5, 5)));
			});
			google.maps.event.addListener(marker, "drag", function(event) {measure.mvcLine.setAt(index, event.latLng);});
			google.maps.event.addListener(marker, "dragend", function()
			{
				if (measure.mvcLine.getLength() > 1)
				{
					updateMeasurement();
				}
			});

			if(index > 0)
			{
				if(!measure.line)
				{
					measure.line = new google.maps.Polyline({
						map: map,
						clickable: false,
						strokeColor: "#FF0000",
						strokeOpacity: 1,
						strokeWeight: 3,
						path:measure.mvcLine
					});
				}
				updateMeasurement();
			}
		}

		function updateForm(elem_id)
		{
			var length = measure.lineLength;
			if(length == '0')
			{
				document.getElementById(elem_id + '_txt').innerHTML = '\'';
				document.getElementById(elem_id + '_txt').value = '';
				document.getElementById(elem_id + '_line').value = '';
				document.getElementById(elem_id + '_len').value = '';
			}
			else
			{
				var latlng1 = measure.mvcLine.getAt(0).toString();
				var latlng2 = measure.mvcLine.getAt(1).toString();
				document.getElementById(elem_id + '_txt').innerHTML = length + '\'';
				document.getElementById(elem_id + '_len').value = length;
				document.getElementById(elem_id + '_line').value = latlng1 + '+' + latlng2;
			}
		}

		function measureReset()
		{
			if(measure.line)
			{
				measure.line.setMap(null);
				measure.line = null
			}
			
			measure.mvcLine.clear();
			
			measure.mvcMarkers.forEach(function(elem, index){elem.setMap(null);});
			measure.mvcMarkers.clear();
			measure.lineLength = '0';
			document.getElementById('measurement').innerHTML = '\'';
		}
	</script>
</head>
<body onload='initialize()'>
	<div id='wrapper' style='margin:0 auto; width:1500px'>
		<div id='map_canvas' style='margin:0 auto; width:600px; height:600px; float:left'></div>
		<div id='form' style='float:left'>
		<a href='http://localhost:8080'>Go Home</a>
		<a href='/output?IntID=$kwargs['int_id']'>Goto Output</a>
		<form name='int_info' method='POST' action='update_intersection'>
			<table>
				<tr><td><strong>Int ID:</strong></td><td><input type='text' name='int_id' size='4' value='$kwargs['int_id']' /></td></tr>
				<tr><td><strong>Major Road:</strong></td><td><input type='text' name='major' size='40' value='$kwargs['major']' /></td></tr>
				<tr><td><strong>Intersecting Road:</strong></td><td><input type='text' name='minor' size='40' value='$kwargs['minor']' /></td></tr>
				<tr><td><strong>Latitude:</strong></td><td><b id='map_lat_txt' name='map_lat_txt'>$kwargs['map_lat']</b></td></tr>
					<input type='hidden' id='map_lat' name='map_lat' value='$kwargs['map_lat']' />
				<tr><td><strong>Longitude:</strong></td><td><b id='map_lng_txt' name='map_lng_txt'>$kwargs['map_lng']</b></td></tr>
					<input type='hidden' id='map_lng' name='map_lng' value='$kwargs['map_lng']' />
				<tr><td><strong>Zoom:</strong></td><td><b id='map_zoom_txt' name='map_zoom_txt'>$kwargs['map_zoom']</b></td></tr>
					<input type='hidden' id='map_zoom' name='map_zoom' value='$kwargs['map_zoom']' />
			</table>
			<input type='submit' value='Update Intersection Information' />
		</form>
		<br />
		<form name='phase_info' method='POST' action='update_intersection'>
			<input type='hidden' id='int_id' name='int_id' value='$kwargs['int_id']' />
			<table>
				<tr><td /><td colspan='5'>CURRENT MEASUREMENT: <strong id='measurement'>N/A</strong></td></tr>
				<tr><td /><td /><td /><td><b>Turn</b></td><td><b>Dir</b></td><td><b>Road Name</b></td><td><b>Grade</b></td><td><b>Speed</b></td></tr>
				<tr>
					<td><strong>Phase 1</strong></td>
					<td>
						<button type='button' onclick="updateForm('p1_yar')">Set YAR (ft)</button>
						<b id='p1_yar_txt'>$kwargs['p1_yar_len']'</b>
						<input type='hidden' id='p1_yar_len' name='p1_yar_len' value='$kwargs['p1_yar_len']' />
						<input type='hidden' id='p1_yar_line' name='p1_yar_line' value='$kwargs['p1_yar_line']' />
					</td>
					<td>
						<button type='button' onclick="updateForm('p1_fdw')">Set FDW (ft)</button>
						<b id='p1_fdw_txt'>$kwargs['p1_fdw_len']'</b>
						<input type='hidden' id='p1_fdw_len' name='p1_fdw_len' value='$kwargs['p1_fdw_len']' />
						<input type='hidden' id='p1_fdw_line' name='p1_fdw_line' value='$kwargs['p1_fdw_line']' />
					</td>
					<td>
						$if kwargs['p1_mov']=='':
							| <input type=checkbox name='p1_mov' />
						<input type='hidden' name='p1_mov' value='' />
						$if kwargs['p1_mov']!='':
							| <input type=checkbox name='p1_mov' checked />
					</td>
					<td><input type='text' name='p1_dir' size='1' placeholder='Dir' maxlength=3 value='$kwargs['p1_dir']' /></td>
					<td><input type='text' name='p1_road' size='15' placeholder='Road Name' value='$kwargs['p1_road']' /></td>
					<td><input type='text' name='p1_grade' size='5' placeholder='Grade (%)' value='$kwargs['p1_grade']' /></td>
					<td><input type='text' name='p1_speed' size='5' placeholder='MPH' value='$kwargs['p1_speed']' /></td>
				</tr>
				<tr>
					<td><strong>Phase 2</strong></td>
					<td>
						<button type='button' onclick="updateForm('p2_yar')">Set YAR (ft)</button>
						<b id='p2_yar_txt'>$kwargs['p2_yar_len']'</b>
						<input type='hidden' id='p2_yar_len' name='p2_yar_len' value='$kwargs['p2_yar_len']' />
						<input type='hidden' id='p2_yar_line' name='p2_yar_line' value='$kwargs['p2_yar_line']' />
					</td>
					<td>
						<button type='button' onclick="updateForm('p2_fdw')">Set FDW (ft)</button>
						<b id='p2_fdw_txt'>$kwargs['p2_fdw_len']'</b>
						<input type='hidden' id='p2_fdw_len' name='p2_fdw_len' value='$kwargs['p2_fdw_len']' />
						<input type='hidden' id='p2_fdw_line' name='p2_fdw_line' value='$kwargs['p2_fdw_line']' />
					</td>
					<td>
						$if kwargs['p2_mov']=='':
							| <input type=checkbox name='p2_mov' />
						<input type='hidden' name='p2_mov' value='' />
						$if kwargs['p2_mov']!='':
							| <input type=checkbox name='p2_mov' checked />
					</td>
					<td><input type='text' name='p2_dir' size='1' placeholder='Dir' maxlength=3 value='$kwargs['p2_dir']' /></td>
					<td><input type='text' name='p2_road' size='15' placeholder='Road Name' value='$kwargs['p2_road']' /></td>
					<td><input type='text' name='p2_grade' size='5' placeholder='Grade (%)' value='$kwargs['p2_grade']' /></td>
					<td><input type='text' name='p2_speed' size='5' placeholder='MPH' value='$kwargs['p2_speed']' /></td>
				</tr>
				<tr>
					<td><strong>Phase 3</strong></td>
					<td>
						<button type='button' onclick="updateForm('p3_yar')">Set YAR (ft)</button>
						<b id='p3_yar_txt'>$kwargs['p3_yar_len']'</b>
						<input type='hidden' id='p3_yar_len' name='p3_yar_len' value='$kwargs['p3_yar_len']' />
						<input type='hidden' id='p3_yar_line' name='p3_yar_line' value='$kwargs['p3_yar_line']' />
					</td>
					<td>
						<button type='button' onclick="updateForm('p3_fdw')">Set FDW (ft)</button>
						<b id='p3_fdw_txt'>$kwargs['p3_fdw_len']'</b>
						<input type='hidden' id='p3_fdw_len' name='p3_fdw_len' value='$kwargs['p3_fdw_len']' />
						<input type='hidden' id='p3_fdw_line' name='p3_fdw_line' value='$kwargs['p3_fdw_line']' />
					</td>
					<td>
						$if kwargs['p3_mov']=='':
							| <input type=checkbox name='p3_mov' />
						<input type='hidden' name='p3_mov' value='' />
						$if kwargs['p3_mov']!='':
							| <input type=checkbox name='p3_mov' checked />
					</td>
					<td><input type='text' name='p3_dir' size='1' placeholder='Dir' maxlength=3 value='$kwargs['p3_dir']' /></td>
					<td><input type='text' name='p3_road' size='15' placeholder='Road Name' value='$kwargs['p3_road']' /></td>
					<td><input type='text' name='p3_grade' size='5' placeholder='Grade (%)' value='$kwargs['p3_grade']' /></td>
					<td><input type='text' name='p3_speed' size='5' placeholder='MPH' value='$kwargs['p3_speed']' /></td>
				</tr>
				<tr>
					<td><strong>Phase 4</strong></td>
					<td>
						<button type='button' onclick="updateForm('p4_yar')">Set YAR (ft)</button>
						<b id='p4_yar_txt'>$kwargs['p4_yar_len']'</b>
						<input type='hidden' id='p4_yar_len' name='p4_yar_len' value='$kwargs['p4_yar_len']' />
						<input type='hidden' id='p4_yar_line' name='p4_yar_line' value='$kwargs['p4_yar_line']' />
					</td>
					<td>
						<button type='button' onclick="updateForm('p4_fdw')">Set FDW (ft)</button>
						<b id='p4_fdw_txt'>$kwargs['p4_fdw_len']'</b>
						<input type='hidden' id='p4_fdw_len' name='p4_fdw_len' value='$kwargs['p4_fdw_len']' />
						<input type='hidden' id='p4_fdw_line' name='p4_fdw_line' value='$kwargs['p4_fdw_line']' />
					</td>
					<td>
						$if kwargs['p4_mov']=='':
							| <input type=checkbox name='p4_mov' />
						<input type='hidden' name='p4_mov' value='' />
						$if kwargs['p4_mov']!='':
							| <input type=checkbox name='p4_mov' checked />
					</td>
					<td><input type='text' name='p4_dir' size='1' placeholder='Dir' maxlength=3 value='$kwargs['p4_dir']' /></td>
					<td><input type='text' name='p4_road' size='15' placeholder='Road Name' value='$kwargs['p4_road']' /></td>
					<td><input type='text' name='p4_grade' size='5' placeholder='Grade (%)' value='$kwargs['p4_grade']' /></td>
					<td><input type='text' name='p4_speed' size='5' placeholder='MPH' value='$kwargs['p4_speed']' /></td>
				</tr>
				<tr>
					<td><strong>Phase 5</strong></td>
					<td>
						<button type='button' onclick="updateForm('p5_yar')">Set YAR (ft)</button>
						<b id='p5_yar_txt'>$kwargs['p5_yar_len']'</b>
						<input type='hidden' id='p5_yar_len' name='p5_yar_len' value='$kwargs['p5_yar_len']' />
						<input type='hidden' id='p5_yar_line' name='p5_yar_line' value='$kwargs['p5_yar_line']' />
					</td>
					<td>
						<button type='button' onclick="updateForm('p5_fdw')">Set FDW (ft)</button>
						<b id='p5_fdw_txt'>$kwargs['p5_fdw_len']'</b>
						<input type='hidden' id='p5_fdw_len' name='p5_fdw_len' value='$kwargs['p5_fdw_len']' />
						<input type='hidden' id='p5_fdw_line' name='p5_fdw_line' value='$kwargs['p5_fdw_line']' />
					</td>
					<td>
						$if kwargs['p5_mov']=='':
							| <input type=checkbox name='p5_mov' />
						<input type='hidden' name='p5_mov' value='' />
						$if kwargs['p5_mov']!='':
							| <input type=checkbox name='p5_mov' checked />
					</td>
					<td><input type='text' name='p5_dir' size='1' placeholder='Dir' maxlength=3 value='$kwargs['p5_dir']' /></td>
					<td><input type='text' name='p5_road' size='15' placeholder='Road Name' value='$kwargs['p5_road']' /></td>
					<td><input type='text' name='p5_grade' size='5' placeholder='Grade (%)' value='$kwargs['p5_grade']' /></td>
					<td><input type='text' name='p5_speed' size='5' placeholder='MPH' value='$kwargs['p5_speed']' /></td>
				</tr>
				<tr>
					<td><strong>Phase 6</strong></td>
					<td>
						<button type='button' onclick="updateForm('p6_yar')">Set YAR (ft)</button>
						<b id='p6_yar_txt'>$kwargs['p6_yar_len']'</b>
						<input type='hidden' id='p6_yar_len' name='p6_yar_len' value='$kwargs['p6_yar_len']' />
						<input type='hidden' id='p6_yar_line' name='p6_yar_line' value='$kwargs['p6_yar_line']' />
					</td>
					<td>
						<button type='button' onclick="updateForm('p6_fdw')">Set FDW (ft)</button>
						<b id='p6_fdw_txt'>$kwargs['p6_fdw_len']'</b>
						<input type='hidden' id='p6_fdw_len' name='p6_fdw_len' value='$kwargs['p6_fdw_len']' />
						<input type='hidden' id='p6_fdw_line' name='p6_fdw_line' value='$kwargs['p6_fdw_line']' />
					</td>
					<td>
						$if kwargs['p6_mov']=='':
							| <input type=checkbox name='p6_mov' />
						<input type='hidden' name='p6_mov' value='' />
						$if kwargs['p6_mov']!='':
							| <input type=checkbox name='p6_mov' checked />
					</td>
					<td><input type='text' name='p6_dir' size='1' placeholder='Dir' maxlength=3 value='$kwargs['p6_dir']' /></td>
					<td><input type='text' name='p6_road' size='15' placeholder='Road Name' value='$kwargs['p6_road']' /></td>
					<td><input type='text' name='p6_grade' size='5' placeholder='Grade (%)' value='$kwargs['p6_grade']' /></td>
					<td><input type='text' name='p6_speed' size='5' placeholder='MPH' value='$kwargs['p6_speed']' /></td>
				</tr>
				<tr>
					<td><strong>Phase 7</strong></td>
					<td>
						<button type='button' onclick="updateForm('p7_yar')">Set YAR (ft)</button>
						<b id='p7_yar_txt'>$kwargs['p7_yar_len']'</b>
						<input type='hidden' id='p7_yar_len' name='p7_yar_len' value='$kwargs['p7_yar_len']' />
						<input type='hidden' id='p7_yar_line' name='p7_yar_line' value='$kwargs['p7_yar_line']' />
					</td>
					<td>
						<button type='button' onclick="updateForm('p7_fdw')">Set FDW (ft)</button>
						<b id='p7_fdw_txt'>$kwargs['p7_fdw_len']'</b>
						<input type='hidden' id='p7_fdw_len' name='p7_fdw_len' value='$kwargs['p7_fdw_len']' />
						<input type='hidden' id='p7_fdw_line' name='p7_fdw_line' value='$kwargs['p7_fdw_line']' />
					</td>
					<td>
						$if kwargs['p7_mov']=='':
							| <input type=checkbox name='p7_mov' />
						<input type='hidden' name='p7_mov' value='' />
						$if kwargs['p7_mov']!='':
							| <input type=checkbox name='p7_mov' checked />
					</td>
					<td><input type='text' name='p7_dir' size='1' placeholder='Dir' maxlength=3 value='$kwargs['p7_dir']' /></td>
					<td><input type='text' name='p7_road' size='15' placeholder='Road Name' value='$kwargs['p7_road']' /></td>
					<td><input type='text' name='p7_grade' size='5' placeholder='Grade (%)' value='$kwargs['p7_grade']' /></td>
					<td><input type='text' name='p7_speed' size='5' placeholder='MPH' value='$kwargs['p7_speed']' /></td>
				</tr>
				<tr>
					<td><strong>Phase 8</strong></td>
					<td>
						<button type='button' onclick="updateForm('p8_yar')">Set YAR (ft)</button>
						<b id='p8_yar_txt'>$kwargs['p8_yar_len']'</b>
						<input type='hidden' id='p8_yar_len' name='p8_yar_len' value='$kwargs['p8_yar_len']' />
						<input type='hidden' id='p8_yar_line' name='p8_yar_line' value='$kwargs['p8_yar_line']' />
					</td>
					<td>
						<button type='button' onclick="updateForm('p8_fdw')">Set FDW (ft)</button>
						<b id='p8_fdw_txt'>$kwargs['p8_fdw_len']'</b>
						<input type='hidden' id='p8_fdw_len' name='p8_fdw_len' value='$kwargs['p8_fdw_len']' />
						<input type='hidden' id='p8_fdw_line' name='p8_fdw_line' value='$kwargs['p8_fdw_line']' />
					</td>
					<td>
						$if kwargs['p8_mov']=='':
							| <input type=checkbox name='p8_mov' />
						<input type='hidden' name='p8_mov' value='' />
						$if kwargs['p8_mov']!='':
							| <input type=checkbox name='p8_mov' checked />
					</td>
					<td><input type='text' name='p8_dir' size='1' placeholder='Dir' maxlength=3 value='$kwargs['p8_dir']' /></td>
					<td><input type='text' name='p8_road' size='15' placeholder='Road Name' value='$kwargs['p8_road']' /></td>
					<td><input type='text' name='p8_grade' size='5' placeholder='Grade (%)' value='$kwargs['p8_grade']' /></td>
					<td><input type='text' name='p8_speed' size='5' placeholder='MPH' value='$kwargs['p8_speed']' /></td>
				</tr>
			</table>
			<input type='submit' value='Update Phasing Information' />
			<br />
		</form>
		<form name='phase_info' method='POST' action='update_intersection'>
		</form>
		</div>
	</div>
</body>
</html>
