$def with (kwargs, timings)
$ num_phases = 8
<!DOCTYPE HTML>
<html>
<head>
	<title>Sabra-Wang's Clearance Interval Database</title>
	<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no' />
	<meta charset='UTF-8' />
	<script type='text/javascript' src='http://maps.googleapis.com/maps/api/js?key=AIzaSyAWXZXhG-0Hltuxf0CSwjZjf164WwnDFCE&sensor=false&libraries=geometry'></script>
	<script type='text/javascript'>
		var map;
		var latlng = new google.maps.LatLng($kwargs['map_lat'], $kwargs['map_lng']);

		function initialize()
		{
			var length;
			var initOptions = {
				center: latlng,
				draggable: false,
				disableDoubleClickZoom: true,
				mapTypeControl: false,
				mapTypeId: google.maps.MapTypeId.HYBRID,
				panControl: false,
				scrollwheel: false,
				streetViewControl: false,
				zoom: $kwargs['map_zoom'],
				zoomControl: false
			};
			map = new google.maps.Map(document.getElementById('map_canvas'), initOptions);
		$ yar_line = kwargs['yar_line'].split(';')
		$ fdw_line = kwargs['fdw_line'].split(';')
		$for phase in range(num_phases):
			drawLine('$yar_line[phase]', getColor($phase), 0);
			drawLine('$fdw_line[phase]', getColor($phase + 1), 1);
		}

		function getColor(val)
		{
			var r = Math.floor(Math.sin(2.4 * val) * 127 + 128) % 256;
			r = r.toString(16);
			r = r.length==1 ? '0' + r : r;
			var g = Math.floor(Math.sin(2.4 * val + 2) * 127 + 128) % 256;
			g = g.toString(16);
			g = g.length==1 ? '0' + g : g;
			var b = Math.floor(Math.sin(2.4 * val + 4) * 127 + 128) % 256;
			b = b.toString(16);
			b = b.length==1 ? '0' + b : b;
			var hex = "#" + r + g + b;
			return hex;
		}

		function drawLine(latlng_txt, color, center)
		{
			if(!latlng_txt)
			{
				return 0;
			}
			var path = createPath(latlng_txt);
			var polyOptions = {
					path: path,
					fillOpacity: 1,
					strokeWeight: 3,
					strokeColor: color
			};
			var line = new google.maps.Polyline(polyOptions);
			if(center)
			{
				var position = google.maps.geometry.spherical.interpolate(path.getAt(0), path.getAt(1), .5);
			}
			else
			{
				var position = path.getAt(0);
			}
			var length = google.maps.geometry.spherical.computeLength(path) * 3.28;
			var txt_length = length.toFixed(0).toString() + "\'";
			var text = new textOverlay(position, txt_length, map);
			line.setMap(map);
			var poly = new google.maps.Polyline(polyOptions);
			poly.setMap(map);
			return length;
		}

		function createPath(latlng_txt)
		{
			var path = new google.maps.MVCArray();
			for(index=0; index<2; index++)
			{
				coordinate = latlng_txt.split('+')[index];
				coordinate = coordinate.split('(')[1];
				coordinate = coordinate.split(')')[0];
				lat = coordinate.split(', ')[0];
				lng = coordinate.split(', ')[1];
				path.push(new google.maps.LatLng(parseFloat(lat), parseFloat(lng)));
			}
			return path;
		}

		function textOverlay(latlng, text, map)
		{
			this.latlng_ = latlng;
			this.text_ = text;
			this.map_ = map;
			this.div_ = null;
			this.setMap(map);
		}

		textOverlay.prototype = new google.maps.OverlayView();

		textOverlay.prototype.onAdd = function()
		{
			var div = document.createElement('DIV');
			div.style.border = 'none';
			div.style.borderWidth = '0px';
			div.style.position = 'absolute';
			div.style.color = '#000000';
			div.style.fontWeight = 'bold';
			div.style.fontSize = '18px';
			div.style.backgroundColor = '#ffffff';
			div.innerHTML = this.text_;
			this.div_ = div;
			var panes = this.getPanes();
			panes.floatPane.appendChild(div);
		}
		textOverlay.prototype.draw = function()
		{
			var overlayProjection = this.getProjection();
			var position = overlayProjection.fromLatLngToDivPixel(this.latlng_);
			var div = this.div_;
			div.style.left = position.x +'px';
			div.style.top = position.y + 'px';
		}
	</script>
</head>
<body onload='initialize()'>
	<a href='http://localhost:8080'>Go Home</a>
	<br>
	<div style='text-align:center'>
		<b style='font-size:36px'>$kwargs['int_id'] - $kwargs['major'] and $kwargs['minor']</b>
		<div id='map_canvas' style='margin:auto;width:600px;height:600px'></div>
		<table style='margin:auto;font-size:20px'>
			$for index in range(num_phases):
				$ dir = kwargs['dir'].split(';')[index]
				$ road = kwargs['road'].split(';')[index]
				<tr>
					$ phase = index + 1
					<td>Phase $phase:</td>
				$if dir and road:
					<td style='text-align:left'>$dir on $road</td>
				$elif dir:
					<td style='text-align:left'>$dir</td>
				$elif road:
					<td style='text-align:left'>$road</td>
				</tr>
		</table>
		<table style='margin:auto;font-size:20px' border='1'>
			<col />
			$for index in range(num_phases):
				<col width='50' />
			<tr>
				<td />
				<td colspan='8'><b>PHASE NUMBER</b></td>
			<tr>
				<td />
				$for index in range(num_phases):
					$ phase = index + 1
					<td><b>$phase</b></td>
			</tr>
			<tr>
				<td style='text-align:right'><b>Yellow (Y)</b></td>
				$for index in range(num_phases):
					<td>$timings[index][0]</td>
			</tr>
			<tr>
				<td style='text-align:right'><b>All-Red (AR)</b></td>
				$for index in range(num_phases):
					<td>$timings[index][1]</td>
			</tr>
			<tr>
				<td style='text-align:right'><b>Walk</b></td>
				$for index in range(num_phases):
					<td>$timings[index][2]</td>
			</tr>
			<tr>
				<td style='text-align:right'><b>Ped Crossing Time (PCT)</b></td>
				$for index in range(num_phases):
					<td>$timings[index][3]</td>
			</tr>
			<tr>
				<td style='text-align:right'><b>Flash Don't Walk (FDW)</b></td>
				$for index in range(num_phases):
					<td>$timings[index][4]</td>
			</tr>
		</table>
	</div>
</body>
</html>
