$def with (kwargs)
$ phases = ['1', '2', '3', '4', '5', '6', '7', '8']
<!DOCTYPE HTML>
<html>
<head>
	<title>Sabra-Wang's Clearance Interval Database</title>
	<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no' />
	<meta charset='UTF-8' />
	<script type='text/javascript' src='http://maps.googleapis.com/maps/api/js?key=AIzaSyAWXZXhG-0Hltuxf0CSwjZjf164WwnDFCE&sensor=false&libraries=geometry'></script>
	<script type='text/javascript'>
		var map;
		var latlng = new google.maps.LatLng($kwargs['map_lat'], $kwargs['map_lng']);

		function initialize()
		{
			var length;
			var initOptions = {
				center: latlng,
				zoom: $kwargs['map_zoom'],
				mapTypeId: google.maps.MapTypeId.HYBRID
			};
			map = new google.maps.Map(document.getElementById('map_canvas'), initOptions);
			yar_length = drawLine('$kwargs['p1_yar_line']', '#ff0000', 0);
			fdw_length = drawLine('$kwargs['p1_fdw_line']', '#ff4d4d', 1);
			yar_length = drawLine('$kwargs['p2_yar_line']', '#008080', 0);
			fdw_length = drawLine('$kwargs['p2_fdw_line']', '#00f7f7', 1);
			yar_length = drawLine('$kwargs['p3_yar_line']', '#ffff00', 0);
			fdw_length = drawLine('$kwargs['p3_fdw_line']', '#ffff99', 1);
			yar_length = drawLine('$kwargs['p4_yar_line']', '#ff4500', 0);
			fdw_length = drawLine('$kwargs['p4_fdw_line']', '#99ff00', 1);
			yar_length = drawLine('$kwargs['p5_yar_line']', '#8f5e99', 0);
			fdw_length = drawLine('$kwargs['p5_fdw_line']', '#b28db9', 1);
			yar_length = drawLine('$kwargs['p6_yar_line']', '#008000', 0);
			fdw_length = drawLine('$kwargs['p6_fdw_line']', '#00f700', 1);
			yar_length = drawLine('$kwargs['p7_yar_line']', '#0000ff', 0);
			fdw_length = drawLine('$kwargs['p7_fdw_line']', '#9999ff', 1);
			yar_length = drawLine('$kwargs['p8_yar_line']', '#8b5a2b', 0);
			fdw_length = drawLine('$kwargs['p8_fdw_line']', '#c98c52', 1);
		}

		function drawLine(latlng_txt, color, center)
		{
			if(!latlng_txt)
			{
				return 0;
			}
			var path = createPath(latlng_txt);
			var polyOptions = {
					path: path,
					fillOpacity: 1,
					strokeWeight: 3,
					strokeColor: color
			};
			var line = new google.maps.Polyline(polyOptions);
			if(center)
			{
				var position = google.maps.geometry.spherical.interpolate(path.getAt(0), path.getAt(1), .5);
			}
			else
			{
				var position = path.getAt(0);
			}
			var length = google.maps.geometry.spherical.computeLength(path) * 3.28;
			var txt_length = length.toFixed(0).toString() + "\'";
			var text = new textOverlay(position, txt_length, map);
			line.setMap(map);
			var poly = new google.maps.Polyline(polyOptions);
			poly.setMap(map);
			return length;
		}

		function createPath(latlng_txt)
		{
			var path = new google.maps.MVCArray();
			for(index=0; index<2; index++)
			{
				coordinate = latlng_txt.split('+')[index];
				coordinate = coordinate.split('(')[1];
				coordinate = coordinate.split(')')[0];
				lat = coordinate.split(', ')[0];
				lng = coordinate.split(', ')[1];
				path.push(new google.maps.LatLng(parseFloat(lat), parseFloat(lng)));
			}
			return path;
		}

		function textOverlay(latlng, text, map)
		{
			this.latlng_ = latlng;
			this.text_ = text;
			this.map_ = map;
			this.div_ = null;
			this.setMap(map);
		}

		textOverlay.prototype = new google.maps.OverlayView();

		textOverlay.prototype.onAdd = function()
		{
			var div = document.createElement('DIV');
			div.style.border = 'none';
			div.style.borderWidth = '0px';
			div.style.position = 'absolute';
			div.style.color = '#000000';
			div.style.fontWeight = 'bold';
			div.style.fontSize = '18px';
			div.style.backgroundColor = '#ffffff';
			div.innerHTML = this.text_;
			this.div_ = div;
			var panes = this.getPanes();
			panes.floatPane.appendChild(div);
		}
		textOverlay.prototype.draw = function()
		{
			var overlayProjection = this.getProjection();
			var position = overlayProjection.fromLatLngToDivPixel(this.latlng_);
			var div = this.div_;
			div.style.left = position.x +'px';
			div.style.top = position.y + 'px';
		}
	</script>
</head>
<body onload='initialize()'>
	<a href='http://localhost:8080'>Go Home</a>
	<br>
	<div style='text-align:center'>
		<b style='font-size:36px'>$kwargs['int_id'] - $kwargs['major'] and $kwargs['minor']</b>
		<div id='map_canvas' style='margin:auto;width:600px;height:600px'></div>
		<table style='margin:auto;font-size:20px'>
			$for p in phases:
				$ dir = kwargs['p' + p + '_dir']
				$ road = kwargs['p' + p + '_road']
				<tr>
					<td>Phase $p:</td>
				$if dir and road:
					<td style='text-align:left'>$dir on $road</td>
				$elif dir:
					<td style='text-align:left'>$dir</td>
				$elif road:
					<td style='text-align:left'>$road</td>
				</tr>
		</table>
		<table style='margin:auto;font-size:20px' border='1'>
			<col />
			$for p in phases:
				<col width='50' />
			<tr>
				<td />
				$ length = len(phases)
				<td colspan='$length'><b>PHASE NUMBER</b></td>
			<tr>
				<td />
				$for p in phases:
					<td><b>$p</b></td>
			</tr>
			<tr>
				<td style='text-align:right'><b>Yellow (Y)</b></td>
				$for p in phases:
					$ yellow = kwargs['p' + p + '_y']
					<td>$yellow</td>
			</tr>
			<tr>
				<td style='text-align:right'><b>All-Red (AR)</b></td>
				$for p in phases:
					$ red = kwargs['p' + p + '_r']
					<td>$red</td>
			</tr>
			<tr>
				<td style='text-align:right'><b>Flashing Don't Walk (FDW)</b></td>
				$for p in phases:
					$ fdw = kwargs['p' + p + '_f']
					<td>$fdw</td>
			</tr>
		</table>
	</div>
</body>
</html>
